.solved .badge {
    background-color: #17b06b94;
    border: 1px solid #17b06b;
    color: white;
}

.badge {
    border: 1px solid #16a4de;
}

.solved {
    background-color: #FFFFFF14;
}

.solvers {
    color: #36a2eb;
      font-size: 1rem;
}

.solver_num {
    color: white;
}

.machine .solvers {
    font-size: 1rem!important;
}

.machine_page .solvers {
    font-size: 1.25rem!important;
}

.ip {
    padding-right: 20px;
}

.category_WEB {
    border-top: 4px solid #ef121b94;
}

.category_reversing {
    border-top: 4px solid #17b06b94;
}

.category_steg {
    border-top: 4px solid #f9751594;
}

.category_pwning {
    border-top: 4px solid #36a2eb94;
}

.category_misc {
    border-top: 4px solid #ffce5694;
}

.category_crypt {
    border-top: 4px solid #9966FF94;
}

.hackerFont {
    font-family: Hack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content__title {
	font-size: 7vh;
	margin: 25vh 0 0 0;
	position: relative;
	font-family: 'Bungee', cursive;
	color: var(--color-title);
	animation-name: glitch-anim-text;
	animation-duration: var(--time-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}
.jumbotron{
	width:100%;
	height: 100%;
}


@media screen and (max-width: 55em) {
	.content__title{
		margin: 10vh 0 0 0;
		font-size: 5vh;
	}

}

a.nav-link.active{
	color: #fff;
}

a.nav-link{
	color: #ef121b;
}

.close{
	color: #fff;
	opacity: 1;
}

.close:focus{
	outline: none;
}