body{
	background-image: url("../images/team.905f136bcdce.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.form-center{
    margin: 0 auto;
}
.content__title {
	font-size: 10vh;
	margin: 20vh 0 0 0;
}

@media screen and (max-width: 55em) {
	.content__title{
        font-size: 7vh;
		margin: 10vh 0 0 0;
	}
	.fixed-top{
		position: sticky !important;
	}
}