body{
	background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 350px;
}
.content__title {
	font-size: 10vh;
	margin: 25vh 0 0 0;
}

.jumbotron{
	position: absolute;
	float: left;
	margin-top: 0;
}

.glitch__img {
	background: url(../images/img3.jpg) no-repeat;
	background-color: var(--blend-color-1);
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
	background-position: right;
    background-size: cover;
    background-repeat: repeat;
    background-position-x: 40vw;

}

.glitch__img:nth-child(n+2) {
	opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
	animation-duration: var(--time-anim);
	animation-delay: var(--delay-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
	background-color: var(--blend-color-2);
	background-blend-mode: var(--blend-mode-2);
	animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
	background-color: var(--blend-color-3);
	background-blend-mode: var(--blend-mode-3);
	animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
	background-color: var(--blend-color-4);
	background-blend-mode: var(--blend-mode-4);
	animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
	background-color: var(--blend-color-5);
	background-blend-mode: var(--blend-mode-5);
	animation-name: glitch-anim-flash;
}



@media screen and (max-width: 55em) {
	.content__title{
		margin: 10vh 0 0 0;
		font-size: 7vh;
	}
	.fixed-top{
		position: sticky !important;
	}
}