
.content__title {
	font-size: 10vh;
	margin: 25vh 0 0 0;
}
.jumbotron{
	width:100%;
	height: 100%;
}
.red-hand{
	position: absolute;
	z-index: 999;
	height:30vh;
	width:auto;
	margin: -20vh 0 0 0;
}
.mask-man{
	position: absolute;
	z-index: 999;
	height: 60vh;
	width: auto;
	margin-top: -12%;
	margin-left: -5%;

}
.mask-man-img{
	float:right;
}

@media screen and (max-width: 55em) {
	.content__title{
		margin: 10vh 0 0 0;
		font-size: 5vh;
	}
	.red-hand{
		display: none;
	}
	.mask-man{
		display: none;
	}
	.fixed-top{
		position: sticky !important;
	}
}